.categories-list {
    margin         : 1rem;
    width          : 50vw;
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    align-items    : center;
    justify-content: center;
}